[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
typedb-client = "*"
tqdm = "*"
stix2 = "*"
pyhamcrest = "*"
loguru = "*"
parameterized = "*"
grpcio = "*"
pydantic = "*"
requests = "*"
antlr4-python3-runtime = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
colorama = "*"
idna = "*"
mypy-extensions = "*"
pathspec = "*"
platformdirs = "*"
protobuf = "*"
pytz = "*"
simplejson = "*"
six = "*"
stix2-patterns = "*"
tomli = "*"
typedb-protocol = "*"
urllib3 = "*"
win32-setctime = "*"
networkx = "*"
asgiref = "*"
behave = "*"
black = "*"
coverage = "*"
django = "*"
exceptiongroup = "*"
flake8 = "*"
iniconfig = "*"
mccabe = "*"
packaging = "*"
parse = "*"
parse-type = "*"
pathlib = "*"
pluggy = "*"
pycodestyle = "*"
pyflakes = "*"
pytest = "*"
sqlparse = "*"
typing-extensions = "*"
tzdata = "*"

[requires]
python_version = "3.10"
