[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
typedb-client = "==2.9.0"
tqdm = "*"
stix2 = "==3.0.1"
pyhamcrest = "==2.0.3"
loguru = "==0.6.0"
parameterized = "==0.8.1"
grpcio = "==1.43.0"
black = "==22.10.0"
pydantic = "==1.10.2"
requests = "==2.28.1"
typing_extensions = "==4.4.0"
antlr4-python3-runtime = "==4.9.3"
certifi = "==2022.9.24"
charset-normalizer = "==2.1.1"
click = "==8.1.3"
colorama = "==0.4.6"
idna = "==3.4"
mypy-extensions = "==0.4.3"
pathspec = "==0.10.1"
platformdirs = "==2.5.3"
protobuf = "==3.15.5"
pytz = "==2022.6"
returns = "==0.19.0"
simplejson = "==3.17.6"
six = "==1.16.0"
stix2-patterns = "==2.0.0"
tomli = "==2.0.1"
typedb-protocol = "==2.9.0"
urllib3 = "==1.26.12"
win32-setctime = "==1.1.0"

[requires]
python_version = "3.10"
