[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
typedb-client = "*"
tqdm = "*"
loguru = "*"
stix2 = "*"
pyhamcrest = "*"

[requires]
python_version = "3.10"
